@media screen and (max-width: 900px){
	#frame{
		width: 100% !important;
	}
	#left_side{
		width: 10vw; height: 10vw;
		clip-path: circle(50%);
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 1vh;
	}
	#contact img{
		width: 8.4vw;
		height: 8.4vw;
	}
	#user-lastseen h1{
		font-size: 1.2em;
		font-weight: 600;
	}
	
	#user-lastseen h3{
		font-size: 1em;
		font-weight: 400;
	}
	#time{
		font-size: .8em !important;
	}
	img{
		display: inline-block;
		width: 6vw;
		height: 6vw;
	}
	.msg-text p{
		margin: .2vw;
		font-size: 1.1em !important;
		text-align: right;
	}
	.my-msg div{
		padding: .6vh 1vw !important;
	}
	input{
		font-size: 1em !important;
	}
}