/* Reference colors #353535 #FAFAFA #7d1cff #dbc2fc */

*{
	text-align: center !important;
	margin-left: 0 !important;
	padding-left: 0 !important;
	box-sizing: border-box;
}

body{
	width: 100%; max-width: 100%;
	height: 100%;
	margin: 0;
	background-image: linear-gradient(to bottom, #00001a,#3b3c7d);
	background-attachment: scroll;
	overflow: hidden;
}

@font-face {
  font-family: 'bitcount'; /* Choose a name for your font */
  src: url('fonts/bitcount.ttf') format('truetype'), /* Path to your font file */
  font-weight: normal;
  font-style: normal;
}


/* Start */

#start{
	margin: 0;
	margin-top: 5%;
}

.subtitle{ /* lol */
	font-family: bitcount, monospace;
	font-weight: 500;
	color: #FAFAFA;
	display: inline-block;
}

.rainbow{
	color: transparent;
	background-clip: text;
	animation: rainbow-anim 3s infinite;
}


#title{
	transition: 1s;
	margin: 0;
	font-family: 'Trebuchet MS', sans-serif;
	font-size: 10em;
	background-image: linear-gradient(to right, #fcba03,#fce803);
	color: transparent;
	background-clip: text;
	animation: boot-anim 1s 1;
}

#title:hover{
	transition: ease-out 1s;
	font-size: 11em;
	color: #fced03;
	transform: translate(0, 3px)
}

@keyframes boot-anim{
	0% {transform: translate(0, 15px)}
	
	100% {transform: translate(0, 0px)}
}

@keyframes rainbow-anim{
	0% {background-image: linear-gradient(red,orange)}
	25% {background-image: linear-gradient(yellow,green)}
	50% {background-image: linear-gradient(blue,indigo)}
	75% {background-image: linear-gradient(violet,red)}
	100% {background-image: linear-gradient(red,orange)}
}
/* Background */

svg{
	width: 100%;
	height: 100%;
	position: fixed;
	display:  block;
	margin: 0;
	z-index: -1;
}

circle{
	fill: white;
	animation: pulse_star 6s infinite;
	opacity: 50%;
}

@keyframes pulse_star{
	0% {fill: #dbc2fc}
	50% {fill: #7d1cff}
	100% {fill: #dbc2fc}
}

/* Stars in the middle */

#stars_container{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 10vh;
}

#stars{
	display: flex;
	justify-content: space-between;
	width: 90%;
	height: 5vh;
}

#stars img{
	opacity: 75%;
	transition: all .5s;
	--hover-angle: 5deg;
}


#stars img:hover{
	transform: rotateZ(var(--hover-angle));
}


/* Items */

#list{
	margin: 0;
}

#list p{
	font-family: monospace;
	color: #FAFAFA;
	font-size: 2em;
}

#list a{
	font-family: 'bitcount';
	display: block;
	text-decoration: none;
	color: pink;
	font-size: 2em;
}

#list a:hover{
	color: #FFFAFA;
}