body{
	width: 100%;
	height: 100%;
	margin: 0;
	position: absolute;
	background-image: url('assets/background1.jfif');
	background-size: cover;
}

@font-face {
  font-family: 'frutiger'; /* Choose a name for your font */
  src: url('fonts/frutiger.ttf') format('truetype'); /* Path to your font file */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'frutiger bold'; /* Choose a name for your font */
  src: url('fonts/frutiger_bold.ttf') format('truetype'); /* Path to your font file */
  font-weight: normal;
  font-style: normal;
}

h1{
	font-family: 'frutiger bold';
	font-size: 3em;
	color: transparent;
	background-image: linear-gradient(45deg, #FFF,#000);
	background-clip: text;
}

p{
	font-family: 'frutiger';
	font-size: 1.5em;
	color: transparent;
	background-image: linear-gradient(45deg, #FFF,#EFE, #ABA);
	background-clip: text;
}

#main{
	width: 70%;
	aspect-ratio: 3/1;
	margin: 10vh auto 0 auto;
	padding: 1vh 2vw;
	background-image: linear-gradient(135deg, #101010, #000000);
	border-radius: 5%;
}