/* https://wallpapers.com/background/material-design-1920-x-1280-background-g0axre4rs92rmki5.html */
/* https://wallpapers.com/images/high/google-material-h64nwa7qk08iyy0k.webp */

*{
	user-select: none;
}

body{
	width: 100%; height: 100%;
	margin: 0;
	font-family: "Roboto";
	display: flex;
	justify-content: center;
	background: #252525;
}

#main{
	width: 30vw; height: 100%;
	background-image: url('assets/background.webp');
	background-size: cover;
	position: fixed;
}

#content{
	width: 100%; height: 100%;
	border: solid rgba(0,0,0,0);
	position: absolute;
}

@media (max-width:750px){
	#main{
		max-width: 100% !important;
	}
}

/* I couldn't trust the compatibility over browsers */
.roboto {
  font-family: "Roboto", roboto, sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

#top-bar{
	width: 100%;
	display: flex;
	box-sizing: border-box;
	position: absolute;
	top: 0;
	justify-content: space-between;
	color: white;
	padding-top: 1vh;
	opacity: 75%;
}

#top-bar img{
	height: 1vw;
	display: inline-block;
	opacity: 75%;
	fill: red;
	padding-right: .5vw;
}

#top-bar p{
	margin: 0;
	padding:0;
}

#clock{
	display: block;
	width: 100%;
	margin-top: 15vh;
	margin-bottom: 0;
	text-align: center;
	font-size: 7em;
	font-weight: 100;
	color: white;
}

#day{
	width: 100%;
	margin: 0;
	margin-bottom: 10vh;
	text-align: center;
	font-weight: 300;
	color: rgba(255,255,255,0.85);
	font-size: 1em;
}

#bottom-bar{
	bottom: 5vh;
	position: absolute;
	width: 100%;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	padding: 0 3vw;
}

#bottom-bar img{
	height: 25px;
	display: inline-block;
	opacity: 75%;
	fill: red;
}

#notification-container{
	height: 40%;
	padding: 0 2.5%;
}

.notification{
	display: flex;
	align-items: center;
	height: 11vh;
	background-color: #FFF;
	opacity: 80%;
	box-shadow: 0em 1em 2em;
}

.textos{
	margin-left: 1vw;
	display: flex;
	width: 70%;
	flex-direction: column;
}

.textos p{
	margin: 0;
	padding:0;
}

.noti-img-container{
	margin-left: 1vw;
	height: 70%;
	width: auto;
	display: flex;
	align-items: center;
	clip-path: circle(49%);
}

.noti-img{
	box-sizing: border-box;
	display: inline-block;
	border: solid;
	height: 125%;
	width: 125%;
	object-fit: cover;
	background: green;
}

.noti-title{
	font-weight: 400;
	font-size: 1.25em;
	margin:0;	padding:0;
}

.noti-subtitle{
	margin: 0;
	font-size: 1em;
	font-weight: 400;
	color: #444;
	padding: 0;
}

.noti-detail{
	color: slategray;
	font-size: 1em;

}

.top-half{
	display: flex;
	width: 100%;
	justify-content: space-between;
}

/* animation */

*{
	transition: .25s;
}

#content:active{
	transform: scale(95%) translateY(-1em);
	opacity: 50%;
}
