/* https://wallpapers.com/background/material-design-1920-x-1280-background-g0axre4rs92rmki5.html */
/* https://wallpapers.com/images/high/google-material-h64nwa7qk08iyy0k.webp */

body{
	width: 100%; height: 100%;
	margin: 0;
	background-image: url('https://wallpapers.com/images/high/google-material-h64nwa7qk08iyy0k.webp');
	background-size: cover;
	position: fixed;
	font-family: "Roboto";
}

.app{
	width: 25%; height: 12%;
	background-size: contain;
	background-repeat:no-repeat;
	display: inline-block;
	margin: 1vw 1vh;
}

/* I couldn't trust the compatibility over browsers */
.roboto {
  font-family: "Roboto", roboto, sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


#clock{
	display: block;
	width: 100%;
	margin-top: 10vh;
	margin-bottom: 0;
	text-align: center;
	font-size: 12vh;
	font-weight: 300;
	color: white;
}

#day{
	width: 100%;
	margin: 0;
	margin-bottom: 10vh;
	text-align: center;
	font-weight: 250;
	color: rgba(255,255,255,0.85);
	font-size: 3vh;
}

#bottom-bar{
	bottom: 0;
	position: absolute;
	width: 100%;
	padding: 5%;
}

svg{
	display: inline-block;
	height: 5vh;
	opacity: 60%;
}

#phonecaller{
	margin: 0;
	margin-left: 1vw;
}

#padlock{
	margin: 0 20% 0 20%;
}

#camera{
	margin: 0;
	margin-right: 1vw;
}

#notification-container{
	height: 40%;
	padding: 0 2.5%;
}

.notification{
	display: flex;
	align-items: center;
	height: 11vh;
	background-color: rgba(255,255,255,0.80);
	box-shadow: 0em 1em 2em;
}

img{
	margin-left: 4vw;
	display: inline-block;
	border: solid;
	clip-path: circle(50% at 50% 50%);
	height: 70%;
	background: #0026ff;
	border: #0026ff solid;
}

.textos{
	margin: 0 0 0 5vw;
	display: flex;
	flex-direction: column;
}

.noti-title{
	font-weight: 400;
	font-size: 6vw;
}

.noti-subtitle{
	font-size: 4vw;
	font-weight: 300;
	color: #444;
}