body{
  width: 100%;height: 100%;
  margin: 0;
  position: absolute;
  background-image: url('assets/wallpaper2.avif');
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

@font-face {
  font-family: 'segoe';
  src: url('assets/Segoe UI Variable.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'segoe light';
  src: url('assets/Segoe UI Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@keyframes hover_info{
  0% {background-image: linear-gradient(transparent)}
  100% {background-image: linear-gradient(yellow,green,blue,indigo)}
}

.infobox{
  width: 23vw; height: auto;
  display: flex;
  transition: 5s;
}

/*
.infobox:hover{
  background-image: linear-gradient(to bottom, rgb(60,60,60) 80%, transparent);
}

*/

#fun-fact{
  transform: translateX(23vw) translateY(14vh)
}

#que-tal{
  transform: translateX(70vw) translateY(10vh)  
}

.svg_container{
  margin: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 10vw; height: 5vw;
  background: rgba(0,0,0,0.5);
  clip-path: circle(3vh);
}

.infobox img{
  width: 1.5vw;
  overflow: visible;
}

#vignette{
  z-index: -1;
  width: 100%; height: 100%;
  background-image: radial-gradient(transparent 80%, rgba(0,0,0,0.3));
  position: absolute;
}


#bottom{
  bottom: 0;
  position: absolute;
  padding: 10vh 1vw;
}

#time{
  margin-bottom: 5vh;
}

#time h1{
  font-family: 'segoe light';
  font-size: 15vh;
  font-weight: 150;
  margin: 0;
  padding: 0;
}

#time h2{
  font-family: 'segoe';
  font-weight: 300;
  font-size: 5vh;
  margin: 0;
}

#notifications{
  width: 90vw;
  display: flex;
}

.notification{
  width: 20vw; height: 23vh;
  border-radius: 2.5%/5%;
  display: flex;
  flex-direction: column;
  padding: 1vh 1vw;
  margin-right: 3vw;
  box-sizing: border-box;
  overflow: hidden;
  background-color: rgb(60,60,60);
}

.notification:hover{
  background-color: rgb(71,71,71) !important;
  cursor: pointer;
}

.notification h2{
  font-size: 1.2em;
  font-weight: bold;
  margin: 0;
}

.notification div{
  display: flex;
  align-content: center;
}

.notification h1{
  font-size: 5vh;
  font-weight: bold;
  margin: 0;
}

/* specifically */
.notification div h1{
  font-size: 8vh;
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(yellow, orange)
}

.notification div p{
  font-size: 2vh;
  font-weight: bold;
  margin: 0;
}

.column{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.column p{
  font-size: 2.5vh !important;
  margin-left: 2vw !important;
}

.notification a{
  font-size: 2vh;
  font-weight: bold;
  color: rgb(45,155,235);
  text-align: center;
  margin-top: auto;
  margin-bottom: 1vh;
  text-decoration: none;

}

#_img{
  align-items: center;
  justify-content: center;
}
.notification img{
  width: 50%;
  height: auto;
  border-radius: 2.5%/5%;
}

*{ /* temp */
  color: white;
  font-family: 'segoe';
}