body{
  width: 100%;height: 100%;
  margin: 0;
  position: absolute;
  background-image: url('assets/wallpaper2.avif');
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

/* fonts */

@font-face {
  font-family: 'segoe';
  src: url('assets/Segoe UI Variable.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'segoe light';
  src: url('assets/Segoe UI Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* the little messages on the top half of the screen */

.infobox{
  width: 23vw; height: auto;
  display: flex;
  transition: 5s;
  font-size: 1vw;
}


#fun-fact{
  transform: translateX(23vw) translateY(14vh)
}

#que-tal{
  transform: translateX(70vw) translateY(10vh)  
}

.svg_container{
  margin: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 10vw; height: 5vw;
  background: rgba(0,0,0,0.3);
  clip-path: circle(2vh);
}

.infobox img{
  width: 1vw;
  overflow: visible;
}

/* screen divisions/effects */

#vignette{
  z-index: 0;
  width: 100%; height: 100%;
  background-image: radial-gradient(transparent 80%, rgba(0,0,0,.2));
  position: absolute;
}

#vignette:hover{
  background-image: none;
}


#bottom{
  bottom: 0;
  position: absolute;
  padding: 10vh 3vw;
}

/* the clock */

#time{
  margin-bottom: 5vh;
}

#time h1{
  font-family: 'segoe light';
  font-size: 15vh;
  font-weight: 150;
  margin: 0;
  padding: 0;
}

#time h2{
  font-family: 'segoe';
  font-weight: 300;
  font-size: 5vh;
  margin: 0;
}

/* the notifications */

#notifications{
  width: 90vw;
  display: flex;
}

.notification{
  width: 100%; height: 21.5vh;
  max-width: 21.5vw;
  border-radius: 2.5%/5%;
  display: flex;
  flex-direction: column;
  padding: 1vh 1vw;
  margin-right: 1vw;
  box-sizing: border-box;
  background-color: rgb(60,60,60);
}

.notification:hover{
  background-color: rgb(71,71,71) !important;
  cursor: pointer;
}

.notification h2{
  font-size: 1.2vw;
  font-weight: 100;
  margin: 0 0 1vh 0;
}

.notification div{
  display: flex;
  align-content: center;
}

.notification h1{
  font-size: 5vh;
  font-weight: bold;
  margin: 0;
}

.notification div p{
  font-size: 2vh;
  font-weight: bold;
  margin: 0;
}

.notification a{
  font-size: 1.5vh;
  color: rgb(45,155,235);
  text-align: center;
  margin-top: auto;
  margin-bottom: 1vh;
  text-decoration: none;

}

.topbar{
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
}

/* the weather thing on the first noti */

.weather{
  display: flex;
  align-items: center;
}

.weather h1{
  font-size: 4.7vw;
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(yellow, orange)
}
.weather img{
  width: 5vw; height: 5vw;
}

/* general */

.column{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.weather p{
  font-size: 2.5vh !important;
  margin-left: 2vw !important;
}

*{ /* temp */
  color: white;
  font-family: 'segoe light';
}

/* the image on the 2nd noti */

#_img-container{
  margin-right: 1vw;
}

#yt_tutorial_img{
  width: 10vw; height: 10vh;
  aspect-ratio: 16/9;
  border-radius: 5%/10%;
}

.video-author{
  font-family: "segoe light";
  font-size: 1vw;
}

.video-title{
  font-size: 2vw;
  font-weight: 200;
  text-overflow: hidden;
}